<div class="table-responsive">
  <table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Birth Date</th>
        <th>Country</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.name}}</td>
        <td>{{user.surname}}</td>
        <td>{{user.birthDate}}</td>
        <td>{{user.country}}</td>
        <td>{{user.adress}}</td>
        <td>{{user.phoneNumber}}</td>
        <td><button class="btn btn-sm btn-warning text-white" (click)="editUser(user.id)"><i class="fas fa-wrench"></i></button></td>
      </tr>
      <!-- <tr>
        <td>Foo</td>
        <td>Bar</td>
        <td>11.12.1996</td>
        <td>USA</td>
        <td>BLALAL</td>
        <td>222-333-444</td>
      </tr> -->
    </tbody>
  </table>
</div>